.success {
	background:#f2f2f2;
	border: 3px solid #66b266;
	padding: 8px 10px;
	color: #008000;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 5px;
}

.error {
	background:#f2f2f2;
	border: 3px solid #ff4c4c;
	padding: 8px 10px;
	color: #cc0000;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 5px;
}
